*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-radius: 0;
	border:0;
	outline: none;
	font-family: Open Sans;
}

*:before,
*:after{
	box-sizing: border-box;
}

html, 
body{
	width: 100%;
	height: 100vh;
	float: left;
	overflow-x: hidden;
	
}

a, span{
	display: inline-block;
}

a{
	text-decoration: none;
}

ul li,
ol li{
	position: relative;
	float: left;
	list-style-type: none;
}

button{
	cursor: pointer;
}

input[type='radio'],
input[type='checkbox']{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.clear,
.clearfix{
	clear: both;
}

.full_w{
	position: relative;
	float: left;
	width: 100%;
	
	
}

.center{
	position: relative;
	float: none;
	margin: 0 auto;
}














